*{
    margin :0;
    padding :0;
    box-sizing: border-box;

}
body{
    font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
header{
    background-color: rgb(0, 48, 207);
    color: rgb(184, 0, 0);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.logo{
    font-size: 34px;
    font-weight: bold;
}
nav ul{
list-style: none;
display: flex;
gap: 25px;
}
nav ul li a{
    color:rgb(255, 0, 0);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}
.hero{
    background-image: url(../img/marvels-spider-man-3840x2160-13003.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    position: relative;
}
.hero::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(105, 93, 93, 0.5);
z-index: 1;
}
.hero-contenido{
    position: relative;
    z-index: 2;
}
.hero-contenido h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.hero-contenido p{
    font-size: 20px;
    margin-bottom: 30px;

}
.btn{
    display:inline-block;
    background-color:rgb(143, 0, 0);
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.btn:hover{
    background-color: rgb(12, 0, 187);
    transform: translateY(-4px);
}

.contenido-principal{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;

}
section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(207, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
}
#servicio {
    background-color: #0c1a3a;
    color: white;
    background: linear-gradient(to right, #0c1a3a, #1f3c88);
}
#servicio ul {
    list-style: none;
    margin-top: 20px;
}

#servicio li {
background: linear-gradient(to right, #112e72, #1f3c88);
    margin: 10px auto;
    padding: 15px;
    max-width: 400px;
    border-radius: 10px;
    border-left: 5px solid rgb(8, 11, 58);
}
#portafolio {
    background-color: #660000;
    color: white;
    background: linear-gradient(to right, #660000, #812929);
}

#portafolio .proyecto {
   background: linear-gradient(to right, #3a0c0c, #680707);
    padding: 20px;
    margin: 15px auto;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-top: 5px solid rgb(49, 4, 4);
}
#portafolio .proyecto:hover {
    transform: escale(1.05);
    transition: 0.3s;
}
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    background-color: rgb(143, 0, 0);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(12, 0, 187);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
#contacto {
    background-color: #dac4c4;
}